#arms {
    z-index: 2;
    position: absolute;
    left: -200px;
    top: 50px;
    width: 60%;
}

#date-arms {
    z-index: 2;
    position: absolute;
    right: -200px;
    top: 50px;
    width: 60%;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}