#dummy-speech-bubble {
    top: 100px; /* Adjust the positioning as needed */
    left: 100px; /* Adjust the positioning as needed */
    background-color: #FFF;
    border: 2px solid #000;
    border-radius: 10px;
    width: 90px;
    margin-top: 20px;
    overflow: hidden;
  }
  
  #dummy-timer-bar {
    height: 5px;
    background-color: #4caf50; /* Red color for timer bar */
    border-radius: 5px;
    width: 100%;
    animation: timerAnimation 2s linear infinite;
  }
  
  #dummy-speech-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
  }
  
  #dummy-speech-content img {
    width: 50px;
    margin-right: 10px;
    margin-top: 10px;
  }
  
  #dummy-speech-content p {
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 16px;
  }
  
  .instruction {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    /* Add other styling as needed */
  }

  @keyframes timerAnimation {
    0% {
      width: 100%; /* Start with width as 0 */
    }
    100% {
      width: 0; /* End with width as 100% */
    }
  }