#meter {
    width: 300px;
    height: 15px;
    border: 1px solid black;
    position: absolute;
    bottom: 20px; /* Adjust the distance from the bottom */
    /* transform: translateX(50%); change if #game-canvas align-items: is changed*/ 
    overflow: hidden;
}

.progress {
    height:100%;
    width:100%;
    /* border:2px solid #000; */
    background: linear-gradient(to right, red 0, green 45%, green 55%, red 100%);
}

.circle {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid black;
    position: absolute;
    top: 0;
    left: 0;
}
  
  
